:root{
    --main-bg-color:#faf4ed;
    --font-color:#575279;
    --link-color:#286983;
    --navbar-color:#f4ede8;
    --navbar-hover:#cecacd;

}

body{
    margin: o;
    scroll-behavior: smooth;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    text-align: center;
    font: 1.2em "Helvetica",system-ui;
}

.navbar ul{
    list-style-type: none;
    background-color: var(--navbar-color);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: var(--font-color);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: var(--navbar-hover);
}

.navbar li{
    float: left;
    
}

a:link{
    color: var(--link-color);
}

a:visited{
    color: var(--link-color)
}

@media(prefers-color-scheme: dark){ 
    :root{
        --main-bg-color:#232136;
        --font-color:#e0def4;
        --link-color:#3e8fb0;
        --navbar-color:#393552;
        --navbar-hover:#56526e;
        } 
}