:root{
    --main-bg-color:#282828;
    --font-color:#fbf1c7;
    --link-color:#83a598;   
}

body{
    margin: o;
    scroll-behavior: smooth;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    text-align: center;
    font: 1.2em "Helvetica",
}

a:link{
    color: var(--link-color);
}

a:visited{
    color: var(--link-color)
}

/* sidebar menu */
.box{
    border: 1px solid var(--font-color);
    height: 50px;
    width: 400px;
    margin: auto;
}

/* navbar links */
.box a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: ;20px
    color: #818181;
    display: inline;
}

/* hover over links */
.box a:hover{
    color: #f1f1f1;
}

.main{
    padding: 0px 10px;
}