:root{
    --main-bg-color:#282828;
    --font-color:#fbf1c7;
    --link-color:#83a598;   
}

body{
    margin: o;
    scroll-behavior: smooth;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    text-align: center;
    font: 1.2em "Helvetica",
}

a:link{
    color: var(--link-color);
}

a:visited{
    color: var(--link-color)
}

/* sidebar menu */
.sidenav{
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 20px;
    bottom: 20px;
    left: 20px;
    background-color: #282828;
    overflow-x: hidden;
    padding-top: 20px;
    border-width: 1px;
    border-style:dashed;
    border-color: #fbf1c7;
}

/* navbar links */
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* hover over links */
.sidenav a:hover{
    color: #f1f1f1;
}

.main{
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}