:root{
    --main-bg-color:#fbf1c7;
    --font-color:#98971a;
    --link-color:#458588;
    --link-visited-color:#b16286;
    --navbar-color:#f8f8f2;
    --navbar-hover:#7c6f64;

}
body{
    margin: o;
    scroll-behavior: smooth;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    text-align: center;
    font: 1.2em "Helvetica",system-ui;
}

.navbar ul{
    list-style-type: none;
    background-color: var(--navbar-color);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: var(--font-color);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: var(--navbar-hover);
}

.navbar li{
    float: left;
    
}

a:link{
    color: var(--link-color);
}

a:visited{
    color: var(--link-visited-color)
}

@media(prefers-color-scheme: dark){ 
    :root{
        --main-bg-color:#282828;
        --font-color:#98971a;
        --link-color:#458588;
        --link-visited-color:#b16286;
        --navbar-color:#f8f8f2;
        --navbar-hover:#a89984;
        } 
}