:root{
    --main-bg-color:#fbf1c7;
    --font-color:#98971a;
    --link-color:#458588;
    --link-visited-color:#b16286;
    --button-hover-color:#8ec07c;
    --button-active-color:#689d6a;
    
}
body{
    margin: o;
    background-color:var(--main-bg-color);
    color:var(--font-color);
    scroll-behavior: smooth;
    text-align: center;
    font: 1.2em "Arial",system-ui;
}

.button{
    position: absolute;
    top:40%;
    border:none;
    border-radius: 10px;
    min-height: 40px;
    min-width: 80px;
    
    
}

.button:hover{
    background-color:var(--button-hover-color);
    transition: 0.7s;
}

.button:active{
    background-color:var(--button-active-color);

}
@media(prefers-color-scheme: dark){ 
    :root{
        --main-bg-color:#282828;
        --font-color:#98971a;
        --link-color:#458588;
        --link-visited-color:#b16286;
        --button-hover-color:#689d6a;
        --button-active-color:#427b58;
    }
}