:root{
    --main-bg-color:#ffffff;
    --font-color:#000000;
    --link-color:#286983;    
}

body{
    margin: o;
    scroll-behavior: smooth;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    text-align: center;
    font: 1.2em "Helvetica",
}


a:link{
    color: var(--link-color);
}

a:visited{
    color: var(--link-color)
}

@media(prefers-color-scheme: dark){ 
    :root{
        --main-bg-color:#000000;
        --font-color:#ffffff;
        --link-color:#286983;
        } 
}